@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}
.font-brand {
    font-family: 'Montserrat', sans-serif;
}
.font-signature {
    font-family: 'Ms Madi', cursive;
}
.font-arial-black {
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
    font-weight: 900;
}
